<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>XM游戏资讯平台-千楼书活动</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4.css">
	<!-- 点赞小图标 -->
	<link rel="stylesheet" href="css/forum-stategy/ionicons.min.css">
	<!-- Custom style -->
	<link rel="stylesheet" href="css/forum-stategy/style.css">
	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/jquery-3.2.1.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/index/FileSaver.js"></script>
	<!--导航栏css-->
	<link rel="stylesheet" href="css/head.css"/>
	<style>
		@media (max-width: 800px) {
			body{
				background-image: url("img/game/strabg4-1.jpg");
			}
		}
	</style>
</head>
<body>

<section class="page">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<ol class="breadcrumb">
					<li>首页</li>
					<li>千楼书活动</li>
				</ol>
				<hr>
				<h6 class="page-title">活动介绍：注册用户登录账号即可参加活动，一楼一段哦，不可发布不雅言论，否则会被删评论的哦，满1000楼活动即结束，用户可将所有评论按顺序集成书本，可保存到本地进行修改，修改后可上传至网站大家共同讨论分享！每个用户只能上传一部，后面上传的会覆盖前面的哦！欢迎积极参与！</h6>
				<p class="page-subtitle">书本开头：我已经老了。有一天，在一处公共场所的大厅里，有一个男人向我走来，他主动介绍自己，他对我说：我认识你，我永远记得你。那时候，你还很年轻，人人都说你美，现在，我是特为来告诉你，对我来说，我觉得现在你比年轻的时候更美，那时你是年轻女人，与你那时的面貌相比，我更爱你现在备受摧残的面容。</p>
				<div class="line thin"></div>
				<!--千楼书评论界面start-->
				<div class="comments" style="display: block">
					<h2 class="title">现有{{listnum}}楼</h2>
					<div class="row">
						<div class="form-group col-md-12">
							<h4>发表评论</h4>
							<textarea class="form-control"  placeholder="输入评论内容 ..." v-model="content"></textarea>
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-primary" @click="insbook">发表</button>
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-warning" @click="card">查看所有评论合集</button>
							<button class="btn btn-info" @click="bookforum(0)">转至千楼书活动论坛</button>
						</div>
					</div>
					<div class="comment-list">
						<!--评论item-->
						<div class="item" v-for="list of list">
							<div class="user">
								<figure>
									<img :src="list.picture">
								</figure>
								<div class="details" style="text-align: left;">
									<h5 class="name">{{list.uname}}<span class="time">{{list.time}}</span></h5>
									<div ></div>
									<div class="description">
										{{list.content}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-center" id="page">
							<ul class="pagination">
								<li class="prev" @click="prevpage"><a href="javascript:"><i class="ion-ios-arrow-left"></i></a></li>
								<li @click="firstpage"><a href="javascript:">首页</a></li>
								<li  class="active"><a href="javascript:">1</a></li>
								<li><a href="javascript:" style="background-color: white">/</a></li>
								<li><a href="javascript:">97</a></li>
								<li @click="lastpage"><a href="javascript:">尾页</a></li>
								<li class="next" @click="nextpage"><a href="javascript:"><i class="ion-ios-arrow-right"></i></a></li>
							</ul>
						</div>
					</div>


				</div>
				<!--千楼书评论界面end-->
				<!--千楼书小说界面start-->
				<div id="bookforum" style="display: none">
					<div class="row">
						<div class="form-group col-md-12">
							<button class="btn btn-info" @click="bookforum(1)">转至千楼书评论界面</button>
						</div>
						<h5 class="page-title" style="margin-bottom: 30px">千楼小说合集</h5>
						<div class="form-group col-sm-3 col-xs-4 book" v-for="list of booklist">
							<img src="img/personal_center/defaultimg.jpg" width="100%"  >
							<p>{{list.uname}}</p>
							<a href="javascript:" @click="bookdetail(list.url)">
								<div class="mask">
									<h4>查<br/>看<br/>小<br/>说<br/>详<br/>情</h4>
								</div>
							</a>
						</div>

					</div>
					<div class="line thin"></div>
					<div class="row">
						<h5 class="page-title" style="margin-bottom: 30px">自定义上传</h5>
						<div class="form-group col-md-12">
							<input type="file" id="file">
							<button type="button" class="btn btn-sm btn-primary" @click="upstory">上传小说</button>
						</div>
					</div>
				</div>
				<!--千楼书小说界面end-->
			</div>
			<!-- 书本集成显示卡片 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div style="margin-top: 20px" id="book"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" @click="savefile">导出文件到本地</button>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Start footer -->
<!-- End Footer -->

<!-- JS -->
<script src="js/index/book.js"></script>
</body>
</html>