<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html">

	<title>XM游戏资讯平台-后台-用户管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/bootstrap-3.3.4.css">
	<link rel="stylesheet" href="css/backstage/font-awesome.min.css">
	<link rel="stylesheet" href="css/backstage/style.css">

	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/jquery-3.2.1.js"></script>

</head>
<body>

<header id="header" class="navbar">
	<ul class="nav navbar-nav navbar-avatar pull-right">
		<li class="">
			<a>
				<span class="hidden-sm-only">欢迎你：</span>
				<span class="hidden-sm-only" id="cid"></span>
				<span class="thumb-small avatar inline"><img src="img/backstage/avatar.jpg" class="img-circle"></span>
			</a>
		</li>
	</ul>
	<a class="navbar-brand" href="">后台</a>
	<button type="button" class="btn btn-link pull-left nav-toggle hidden-lg"
	        data-toggle="class:slide-nav slide-nav-left" data-target="body">
		<i class="icon-reorder icon-xlarge text-default"></i>
	</button>
	<ul class="nav navbar-nav hidden-sm">
		<li>
			<img src="img/backstage/logo.png" width="300px" height="40px">
		</li>
	</ul>

</header>
<nav id="nav" class="nav-primary visible-lg nav-vertical">
	<ul class="nav" data-spy="affix" data-offset-top="50">
		<li><a href="bs_forum.html"><i class="icon-comment icon-xlarge"></i>论坛管理</a></li>
		<li><a href="bs_strategy.html"><i class="icon-th icon-xlarge"></i>攻略管理</a></li>
		<li class="active"><a href="bs_users.html"><i class="icon-user icon-xlarge"></i>用户管理</a></li>
		<li><a href="bs_news.html"><i class="icon-edit icon-xlarge"></i>新闻管理</a></li>
		<li><a href="bs_game.html"><i class="icon-trophy icon-xlarge"></i>游戏管理</a></li>
		<li onclick="outlogin()"><a href="javascript:"><i class="icon-off icon-xlarge"></i>退出登录</a></li>

	</ul>
</nav>

<section id="content">
	<section class="main padder">
		<div class="clearfix">
			<h4><i class="icon-user"></i>用户管理</h4>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading">
						管理用户
					</header>
					<div class="row text-small">
						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="input-small form-control" placeholder="输入用户id进行搜索" v-model="uid">
								<span class="input-group-btn"><button class="btn btn-small btn-white" type="button" @click="searchbyid">搜索</button></span>
							</div>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-small btn-success" @click="showall">显示所有用户</button>
						</div>
					</div>
					<div class="pull-out m-t-small">
						<table class="table table-striped b-t text-small">
							<thead>
							<tr>
								<th>选择</th>
								<th>用户id</th>
								<th>用户名</th>
								<th>电子邮件</th>
								<th>手机号码</th>
								<th>年龄</th>
								<th>性别</th>
								<th>头像</th>
								<th>注册日期</th>
								<th>个人签名</th>
								<th>删除</th>
							</tr>
							</thead>
							<tbody id="tbody">
							</tbody>
						</table>
					</div>
					<footer class="panel-footer">
						<div class="row">
							<div class="col-lg-8"></div>
							<div class="col-lg-4 text-right text-center-sm">
								<ul class="pagination pagination-small m-t-none m-b-none" id="page" style="display: none">
									<li id="prev" @click="prevpage"><a href="javascript:"><i class="icon-chevron-left"></i></a></li>
									<li @click="firstpage"><a href="javascript:">首页</a></li>
									<li class="active"><a href="javascript:">1</a></li>
									<li><a href="javascript:">/</a></li>
									<li><a href="javascript:">4</a></li>
									<li @click="lastpage"><a href="javascript:">尾页</a></li>
									<li id="next" @click="nextpage"><a href="javascript:"><i class="icon-chevron-right"></i></a></li>
								</ul>
							</div>
						</div>
					</footer>
				</section>
			</div>
		</div>
		<div class="clearfix">
			<h4><i class="icon-anchor"></i>活动管理</h4>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading">
						千楼书集成管理
					</header>
					<div class="row text-small">
						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="input-small form-control" placeholder="输入用户id进行搜索" v-model="txtid">
								<span class="input-group-btn"><button class="btn btn-small btn-white" type="button" @click="seltxt">搜索</button></span>
							</div>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-small btn-success" @click="alltxt">显示所有书籍</button>
						</div>
					</div>
					<div class="pull-out m-t-small">
						<table class="table table-striped b-t text-small">
							<thead>
							<tr>
								<th>id</th>
								<th>用户id</th>
								<th>地址</th>
								<th>时间</th>
								<th>详情</th>
								<th>删除</th>
							</tr>
							</thead>
							<tbody>
								<tr v-for="list of txtlist">
									<td>{{list.txtid}}</td>
									<td>{{list.uid}}</td>
									<td>{{list.url}}</td>
									<td>{{list.time}}</td>
									<td><button @click="bookdetail(list.url)">详情</button></td>
									<td><a href="javascript:" class="active" onclick="deletetxt(this)">
										<i class="icon-remove icon-large text-danger text-active"></i>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
				<section class="panel">
					<header class="panel-heading">
						千楼书活动楼层管理
					</header>
					<div class="row text-small">
						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="input-small form-control" placeholder="输入用户关键词进行搜索" v-model="keyword" >
								<span class="input-group-btn"><button class="btn btn-small btn-white" type="button" @click="selkey">搜索</button></span>
							</div>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-small btn-success" @click="allcomment" >显示所有楼层</button>
						</div>
					</div>
					<div class="pull-out m-t-small">
						<table class="table table-striped b-t text-small">
							<thead>
							<tr>
								<th>id</th>
								<th>用户id</th>
								<th>内容</th>
								<th>时间</th>
								<th>删除</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="list of comlist">
								<td>{{list.b_id}}</td>
								<td>{{list.uid}}</td>
								<td>{{list.content}}</td>
								<td>{{list.time}}</td>
								<td><a href="javascript:" class="active" onclick="deletecomment(this)">
									<i class="icon-remove icon-large text-danger text-active"></i>
								</a></td>
							</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	</section>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div style="margin-top: 20px" id="book"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" @click="savefile">导出文件到本地</button>

			</div>
		</div>
	</div>
</div>


<footer id="footer">
	<div class="text-center padder clearfix">
		<p>
			<small>Copyright&copy;2019 软工161莫慧兰</small><br><br>
		</p>
	</div>
</footer>


<script src="js/bootstrap.js"></script>
<script src="js/backstage/user_management/users.js"></script>

</body>
</html>