<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<title>XM游戏资讯平台-论坛-detail</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4.css">
	<!-- IonIcons -->
	<link rel="stylesheet" href="css/forum-stategy/ionicons.min.css">
	<!-- Custom style -->
	<link rel="stylesheet" href="css/forum-stategy/style.css">
	<!--导航栏css-->
	<link rel="stylesheet" href="css/head.css"/>
	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/jquery-3.2.1.js"></script>
</head>

<body>
<!-- 导航 -->
<header class="header">
	<div class="clearfix">
		<div class="fl left">
			<a href="javascript:void(0)" ><img src="img/forum/logo.png" alt="" class="img1" /></a>
			<a href="javascript:void(0)" ><img src="img/forum/logo.png" alt="" class="img2" /></a>
		</div>
		<div class="fr nav">
			<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
				<li><a href="index.html">官网首页</a></li>
				<li><a href="new.html">新闻资讯</a></li>
				<li><a href="strategy.html">游戏攻略</a></li>
				<li><a href="forum.html" style="color: orangered;">游戏论坛</a></li>
				<li><a href="personal_center.html">个人中心</a></li>
			</ul>
		</div>
		<a href="javascript:void(0)" id="navToggle">
			<span></span>
		</a>
	</div>
</header>
<!--移动端的导航-->
<div class="m_nav">
	<div class="top clearfix">
		<img src="img/forum/closed.png" alt="" class="closed" />
	</div>
	<div class="logo">
		<img src="img/forum/logo.png" alt="" />
	</div>
	<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
		<li><a href="index.html">官网首页</a></li>
		<li><a href="new.html">新闻资讯</a></li>
		<li><a href="strategy.html">游戏攻略</a></li>
		<li class="active"><a href="forum.html" style="color: orangered;">游戏论坛</a></li>
		<li><a href="personal_center.html">个人中心</a></li>
	</ul>
</div>

<section class="single">
	<div class="container">
		<div class="row">
			<div class="col-md-4 sidebar" id="sidebar">
				<aside>
					<h1 class="aside-title">发帖人介绍</h1>
					<div class="aside-body">
						<article class="article-fw">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img :src="picture">
									</a>
								</figure>
								<div class="details">
									<h1><a href="single.html">{{uname}}</a></h1>
									<p><span style="font-weight: bold">个性签名：</span>{{introduce}}</p>
								</div>
							</div>
						</article>
						<div class="line"></div>
						<h1 class="aside-title">猜你喜欢</h1>
						<article class="article-mini" v-for="arr of arrdyn">
							<div class="inner">
								<figure>
									<a href="javascript:">
										<img :src="arr.picture1">
									</a>
								</figure>
								<div class="padding">
									<h1 style="height: 43px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;">
										<a href="javascript:" @click="detail(arr.dynamics_id)">{{arr.content_text}}</a></h1>
									<div class="detail">
										<div class="category"><a href="category.html">{{arr.creation_time}}</a></div>
										<div class="time">喜欢的人：{{arr.praise_num}}人</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</aside>
			</div>
			<div class="col-md-8">
				<ol class="breadcrumb">
					<li>首页</li>
					<li>论坛</li>
<!--					<li class="active">{{content_title}}</li>-->
				</ol>
				<img src="img/new/sl2.gif" width="10%" style="margin-left: 80%;">
				<div class="line"></div>
				<article class="article main-article">
					<header>
<!--						<h1>{{content_title}}</h1>-->
						<ul class="details">
							<li>{{creation_time}}</li>
							<li>By <a href="javascript:">{{uname}}</a></li>
						</ul>
					</header>
					<div class="main">
						<p>{{content_text}}</p>
						<div class="featured">
						</div>
					</div>
<!--					<footer>-->
<!--						<div class="col">-->
<!--							<a href="#" class="love"><i class="ion-android-favorite-outline"></i>-->
<!--								<div>1220</div>-->
<!--							</a>-->
<!--						</div>-->
<!--					</footer>-->
				</article>
				<!--回复-->
				<div class="line thin"></div>
				<div class="comments">
					<h2 class="title">{{plnum}}条评论</h2>
					<div class="comment-list">
						<!--评论item-->
						<div class="item" v-for="pl of pllist">
							<div class="user">
								<figure>
									<img :src="pl.picture">
								</figure>
								<div class="details">
									<h5 class="name">{{pl.uname}}<span class="time">{{pl.time}}</span></h5>
									<div ></div>
									<div class="description">
										{{pl.content}}
									</div>
									<div style="float: right"><a href="javascript:" @click="openpl_pl($event,pl.comment_id)">展开评论</a></div>
									<div class="user pl" style="display: none" v-for="spl of spllist">
										<figure>
											<img :src="spl.picture">
										</figure>
										<div class="details">
											<h6 class="name">{{spl.uname}}<span class="pl-time">{{spl.time}}</span></h6>

											<div class="description">
												{{spl.content}}
											</div>
										</div>
									</div>
									<footer>
										<a href="javascript:" @click="showreplay($event)" >回复</a>
									</footer>
									<div class="user pl" id="sreplay" style="display: none">
										<input type="text" class="hfpl" placeholder="输入回复的内容" v-model="scontent">
										<button class="hfplbtn" @click="replay(pl.comment_id)">回复</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<h4>发表评论</h4>
							<textarea class="form-control" v-model="plcontent" placeholder="评论内容 ..."></textarea>
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-primary" @click="comment">发表</button>
						</div>
					</div>
				</div>
				<!--回复end-->


				<!--推荐-->



			</div>
		</div>
	</div>
</section>
<footer >
	<div class="text-center padder clearfix">
		<p>
		<p>Copyright&copy;2019 软工161莫慧兰</p><br><br>
		</p>
	</div>
</footer>

<!-- JS -->
<script src="js/navbar.js"></script>
<script src="js/forum-stategy/forum_detail.js"></script>
</body>
</html>