<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>XM游戏资讯平台-用户信息</title>
	<link rel='stylesheet' href='css/personal_center/style.css' type='text/css'>
	<link rel='stylesheet' href='css/personal_center/lmlblog.css' type='text/css'>
	<link rel='stylesheet' href='css/personal_center/all.css' type='text/css'>
	<!--导航栏css-->
	<link rel="stylesheet" href="css/head.css"/>
	<!--图片上传css-->
	<link rel="stylesheet" href="css/upimg.css">
	<style>
		.fr {
			float: right;
			margin-right: 60px;
		}
		.lmlblog-member-content-list{
			background-color: rgba(255,255,255,0.9);
		}
		.lmlblog-member-bg{
			margin: 0px auto 0 auto;
		}
		.grzx-sctx{
			width: 150px;
			height: 100px;
		}
	</style>

	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src='js/jquery-3.2.1.js'></script>

</head>
<body>
<div class="lmlblog-member-main">
	<div class="lmlblog-member-bg">
		<div class="lmlblog-member-content">
			<div class="lmlblog-member-header">
				<div class="lmlblog-member-avatar other">
					<div class="grzx-sctx">
						<div class="addbox">
							<div class="addbtn avatar" :style="'background-image: url('+imgurl+')'"></div>
						</div>
					</div>
				</div>
				<h1>&nbsp;</h1>
				<div class="lmlblog-member-username">

					<h1>{{uname}}</h1>
					<div class="lmlblog-member-desc">江湖风雨，几度阑珊。沧海一粟，愿君一剑轻安。</div>
					<div class="lmlblog-member-follow-info" style="margin-bottom: 20px">
						<a href="javascript:" @click="gz">
							<span class="follow no opacity">
								<i class="lmlblog-icon"></i>+ 关注</span>
						</a>
						<span @click="talk" class="opacity" ><i class="lmlblog-icon">&#xe612;</i>私聊</span>
						<a href="#send" >
							<span class="follow no opacity" style="background-color: #ce8483; border: 1px solid #ce8483; margin-left: 20px">
								<i class="lmlblog-icon">&#xe621;</i>私信</span>
						</a>
					</div>
				</div>
				<div class="lmlblog-member-content-list clear">
					<div class="lmlblog-member-left">

						<div class="lmlblog-member-left-profile" id="userinfo">
							<h3>资料简介</h3>
							<li><i class="fa fa-address-book-o"></i> I D：<input type="text" v-model="uid"
							                                                    readonly></span></span></li>
							<li><i class="fa fa-transgender"></i> 性别：<input type="text" v-model="gender" readonly
							                                                maxlength="2"></span></span></li>
							<li><i class="fa fa-clock-o"></i> 年龄：<input type="text" v-model="age"
							                                            readonly></span></span></li>
							<li><i class="fa fa-phone"></i> 号码：<input type="text" v-model="phone"
							                                          readonly></span></span></li>
							<li><i class="fa fa-envelope"></i> 邮箱：<input type="text" v-model="email"
							                                             readonly></span></span></li>
							<li><i class="fa fa-smile-o"></i>签名：<textarea v-model="introduce" style="height: 40px"
							                                              cols="22" overflow="hidden" maxlength="44"
							                                              readonly></textarea></li>

						</div>
						<div class="lmlblog-member-left-visitor clear" id="send">
							<h3>发送私信</h3>
							<div>
								<textarea style="height: 100px;width: 100%" cols="22" overflow="hidden"
								          maxlength="100" v-model="sxcontent">
							</textarea>
								<input type="button" @click="sendsx" value="发送" style="color: white; background-color: #ce8483; width: 60px; height:30px;margin-top: 10px">
							</div>

						</div>

					</div>
					<div class="lmlblog-member-right">
						<div class="lmlblog-post-list">

							<!-- 动态 -->
							<div class="lmlblog-posts-list words" v-for="dynamics of dynamics"
							     style="background-image:url(img/personal_center/044.png); "
							     data="4189">
								<!-- 动态内容部分，包括列表 -->
								<div class="lmlblog-post-user-info">
									<div class="lmlblog-post-user-info-avatar">
										<a href="" style="display: inline-block;">
											<span class="lmlblog-vip-icon"></span>
											<img :src="imgurl" class="avatar">
										</a>
									</div>

									<div class="lmlblog-post-user-info-name">
										<a href="">
											<font style="color:#333;font-weight:600">{{uname}}</font>
										</a>
									</div>
									<div class="lmlblog-post-user-info-time" title="2017-12-12 03:10">
										{{dynamics.creation_time}}
									</div>

								</div><!-- 作者信息 -->
								<div class="lmlblog-post-content ">
									<p>{{dynamics.content_text}}</p>
								</div>
								<div class="lmlblog-post-images-list clear" v-show="dynamics.picture1!='undefined' && dynamics.picture1!=null">
									<a href="javascript:" v-show="dynamics.picture1!='undefined'" >
										<img :src="dynamics.picture1"></a>
									<a href="javascript:" v-show="dynamics.picture2!='undefined'">
										<img :src="dynamics.picture2"></a>
									<a href="javascript:" v-show="dynamics.picture3!='undefined'">
										<img :src="dynamics.picture3"></a>
								</div>
								<div class="lmlblog-post-bar">
									<li @click="detail(dynamics.dynamics_id)">
										<i class="lmlblog-icon">&#xe658; </i><span>查看详情</span>
									</li>
								</div>
							</div><!-- posts_list -->


							<!-- 分页 -->
							<div class="lmlblog-pager">
								<a class="lmlblog-pager-left" href="javascript:" @click="prevpage">上一页</a>
								<div class="lmlblog-pager-center layui-form">
									第&nbsp;<span id="startpage">1</span>&nbsp;页&nbsp;/&nbsp;共&nbsp;<span id="allpage">2</span>&nbsp;页
								</div>
								<a class="lmlblog-pager-right" href="javascript:" @click="nextpage">下一页</a></div>
						</div>
					</div>
				</div>
				<footer >
					<div style="color: white;text-align: center">
						<p><br><br>
						<p>Copyright&copy;2019 软工161莫慧兰</p><br><br>
						</p>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>
<!-- 底部 -->
<script type="text/javascript">
    var sdelay = 0;

    function returnTop() {
        window.scrollBy(0, -1400);//Only for y vertical-axis
        if (document.body.scrollTop > 0) {
            sdelay = setTimeout('returnTop()', 50);
        }
    }
</script>
<script src="js/navbar.js"></script>
<script src="js/personal_center/pc_user.js"></script>
</body>
</html>